@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Electrical Industries Company</h1>
    <p class="lead">
        Electrical Industries Company (EIC) is a holding company that provides a diversified electrical products
        and services to customers in the Kingdom of Saudi Arabia and the Middle East. EIC is the owner company
        of “The Saudi Transformers Co” popularly known as STC and “Wahah Electric Supply Company of
        Saudi Arabia” otherwise known as WESCOSA.
    </p>

</div>

<div class="row">
    <div class="col-md-12">
        <h2>The Saudi Transformers Company (STC)</h2>
        <p>
            was established in 1982 under licensing agreement with CG Power Systems BELGIUM,
            a leading transformer manufacturer in the world. STC is producing Distribution Transformers,
            Package Substations and Low Voltage panels of a wide variety and is a
            major supplier of transformers and sub-stations to commercial, residential and industrial sectors in the region.
        </p>
        <p><a class="btn btn-default" href="http://www.sauditransformers.com/en">Read more &raquo;</a></p>
    </div>
    <div class="col-md-12">
        <h2>Get more libraries</h2>
        <p> established in 1976, is a renowned pioneer manufacturer of wide range of electrical distribution products such as:
        Distribution Transformers, Power transformers up to 20MVA ranging up to 69kV class, LV/MV Switchgear LV/MV Motor Control
        Centers and other electrical equipments. WESCOSA is recognized and preferred by the industries in Saudi Arabia for its technical
        competencies, product reliability and its ability to test and commission all its supplies which give WESCOSA a value
        added feature to carry out its projects</p>
        <p><a class="btn btn-default" href="http://www.wescosa.com/">Read more &raquo;</a></p>
    </div>
    
</div>